<!DOCTYPE html>
<html>
<head>

	<style >
	body{
	margin:0;
	color:#6a6f8c;
	background:#808080;
	font:600 16px/18px 'Open Sans',sans-serif;
  background-color: ; 
}
.button{
 background:#1161ee; 
 border:none;
	padding:15px 20px;
	border-radius:25px;
	background: blue;
  color:white;
  
}
.btnr{
border: none;
  background-color: ;
  padding: 14px 28px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: inline-block;
  margin-left:12%;
}
.center{
	color:white;
}
</style>
<body>
<h1 class="heading"> Resend confirmation instructions</h1>
<div class="login-wrap">

	<div class="login-form">
	<div class="sign-in-htm">


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
 <br>
  <%= render "agents/shared/error_messages", resource: resource %>
<br><br>
  <div class="group">
    <%= f.label :email ,class: "label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
 
<br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions" ,class: "btnr" %>
  </div>
<% end %>
<br>
<br>
<div class="center">
<%= render "agents/shared/links" %>
</div>
</body>
</html>
